importFrom( colorRamps, matlab.like2 )
importFrom( colorRamps, blue2green )
importFrom( gplots, heatmap.2 )
importFrom( gtools, permute )
importFrom( pamr, pamr.train )
importFrom( pamr, pamr.cv )
importFrom( pamr, pamr.predict )
importFrom( randomForest, randomForest )
importFrom( randomForest, importance )
importFrom( Boruta, Boruta)
importFrom( caret, createFolds )
importFrom( caret, createResample )
import( penalizedSVM )
importFrom( tgp, lhs )
importFrom( mlegp, mlegp )
import( igraph )
import( ROCR )
import( gbm )
import( pROC )
exportPattern("^[[:alpha:]]+")
